*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:url("image/sky.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.card{
    width:380px;
    padding:30px;
    border-radius:25px;
    background:rgba(255,255,255,0.18);
    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,0.3);
    box-shadow:0 15px 35px rgba(0,0,0,0.25);
    text-align:center;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 20px 40px rgba(0,0,0,0.35);
}

.card h1{
    color:#ffffff;
    font-size:35px;
    margin-bottom:20px;
}

.search{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-bottom:20px;
}

.search input{
    width:100%;
    padding:15px;
    border:none;
    outline:none;
    border-radius:12px;
    background:#eef6ff;
    font-size:16px;
    color:#333;
}

.search button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    background:linear-gradient(135deg,#00b4ff,#0077ff);
    color:#fff;
    font-size:18px;
    cursor:pointer;
    transition:0.3s;
}

.search button:hover{
    background:linear-gradient(135deg,#0077ff,#005fd1);
    transform:scale(1.03);
}

#icon{
    width:100px;
    height:100px;
    margin:10px auto;
    display:block;
}

#city{
    color:#ffffff;
    font-size:32px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0 10px;
    text-transform: capitalize;
    text-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

#temp{
    color:#fff;
    font-size:60px;
    font-weight:bold;
    margin:10px 0;
}

#weather{
    color:#f5f5f5;
    font-size:20px;
    margin-bottom:20px;
    text-transform:capitalize;
}

.details{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
}

.details div{
    width:48%;
    background:rgba(255,255,255,0.2);
    border-radius:15px;
    padding:15px;
    color:#fff;
}

.details h3{
    font-size:24px;
    margin-bottom:8px;
}

.details p{
    font-size:16px;
}